@font-face {
  font-family: 'Sharp Sans';
  src: local('Sharp Sans'), url(../public/fonts/SharpSansNo1Medium-Regular.woff) format('woff');
}

@font-face {
  font-family: 'Sharp Sans';
  font-weight: 600;
  src: local('Sharp Sans'), url(../public/fonts/shsn-webfont.woff) format('woff');
}

@font-face {
  font-family: 'Sharp Sans';
  font-weight: 700;
  src: local('Sharp Sans'), url(../public/fonts/SharpSansNo1-Bold.woff) format('woff');
}

.SharpSansFont {
  font-family: 'Sharp Sans';
}
